<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :product_name %>
    <%= f.input :product_description %>
    <%= f.input :price %>
    <%= f.input :is_gebrochts %>
    <%= f.input :image_src %>
    <%= f.association :course %>
    <%= f.association :line_item %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
